.about {
  padding-bottom: 49px;

  @include media-breakpoint-up(md) {
    padding-bottom: 46px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 70px;
  }
}

.about__title {
  color: $color-text-accent;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 32px;
  }
}
