.about__title {
  color: $color-text-accent;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    line-height: 1;
  }
}
