.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-text-primary;

    &:hover,
    &:focus {
      background-color: $color-primary-hover;
      color: $color-text-primary;
    }

    &:focus-visible {
      outline: 0;
      box-shadow: 0 0 0 0.25em rgba($color-primary, 0.5);
    }

    &:active {
      background-color: $color-primary-hover;
      color: rgba($color-text-primary, 0.3);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-text-secondary;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-secondary-hover;
      color: $color-text-secondary;
    }

    &:focus-visible {
      outline: 0;
      box-shadow: 0 0 0 0.25em rgba($color-secondary-hover, 0.5);
    }
  }
}
