.catalog {
  padding-bottom: 25px;

  @include media-breakpoint-up(md) {
    padding-bottom: 70px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 78px;
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-bottom: 165px;
  }
}

.catalog__wrap {
  @include media-breakpoint-down(md) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
