.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $color-text-base;
  transition: color 0.3s ease, opacity 0.3s ease;

  &:hover,
  &:focus {
    color: $color-text-base;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25em rgba($color-primary, 0.5);
  }

  &:active {
    opacity: 0.3;
  }

  @include media-breakpoint-up(md) {
    justify-content: center;
    gap: 23px;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
}

.copyright__icon {
  display: block;
  color: $accent-grey;
  transition: color 0.3s ease;

  .copyright:hover &,
  .copyright:focus & {
    color: $color-primary;
  }
}
