.form {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 32px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
  }
}

.form__section {
  &:not(:last-child) {
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
      padding-bottom: 90px;
    }
  }

  &--with-title {
    border-top: 2px solid $color-primary;
  }
}

.form__section-title {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  color: $color-text-accent;
  background-color: $white;

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }

  .form__section--with-title & {
    background-color: $white;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    transform: translate(-20px, -18px);

    @include media-breakpoint-up(md) {
      padding-left: 40px;
      padding-right: 40px;
      transform: translate(-40px, -20px);
    }

    @include media-breakpoint-up(lg) {
      transform: translate(-40px, -20px);
    }
  }
}

.form__container {
  @include media-breakpoint-between(md, lg) {
    max-width: 668px;
  }
}

.form__wrap {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__group {
  display: flex;
  align-items: center;
  gap: 13px;
  position: relative;

  & + & {
    margin-top: 14px;
  }
}

.form__control {
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;
  border: 1px solid $color-border-base;
  padding: 12px;

  &:hover {
    border-color: $border-gray;
  }

  &:focus {
    border-color: $dark-grey;
    outline: none;
  }

  &--invalid {
    border-color: $color-error;
  }

  &--mail,
  &--phone {
    padding-right: 44px;
  }

  &--textarea {
    height: 150px;
    resize: vertical;
  }
}

.form__icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #222222;

  .form__control:hover + & {
    color: #222222;
  }

  .form__control:focus + & {
    color: $color-primary;
  }

  .form__control--invalid + & {
    color: $color-error;
  }
}

.form__extra {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 80px;
  }
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 34px;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }

  @include media-breakpoint-up(lg) {
    column-gap: 80px;
  }
}

.form__note {
  font-family: $font-base;
  color: $color-text-accent;
  text-transform: none;
  margin: 0;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    text-align: center;
  }
}
