.form {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 33px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 79px;
  }
}

.form__section {
  &:not(:last-child) {
    padding-bottom: 25px;

    @include media-breakpoint-up(md) {
      padding-bottom: 66px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 70px;
    }
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 35px;

  @include media-breakpoint-up(md) {
    margin-bottom: 76px;

    br {
      display: none;
    }
  }
}

.form__container {
  @include media-breakpoint-between(md, lg) {
    max-width: 668px;
  }
}

.form__wrap {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--goal {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 13px;

  @include media-breakpoint-down(md) {
    margin-top: 23px;
    padding-top: 23px;
    padding-bottom: 19px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -20px;
      right: -20px;
      border-top: 1px solid $color-border-secondary;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 72px;
    border: 1px solid $color-border-secondary;
    padding: 23px 27px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.form__group {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;

  & + & {
    margin-top: 14px;

    @include media-breakpoint-up(md) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      .form__wrap > & {
        margin-top: 0;
      }
    }
  }

  &--comment {
    margin-top: 38px;

    @include media-breakpoint-up(md) {
      margin-top: 87px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 80px;
    }
  }
}

.form__label {
  cursor: pointer;
}

.form__control {
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  color: inherit;
  text-transform: inherit;
  border: 1px solid $color-border-base;
  padding: 13px 15px 12px;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:hover {
    border-color: $border-gray;
  }

  &:focus {
    border-color: $dark-grey;
    box-shadow: inset 0 0 0 1px $dark-grey;
    outline: none;
  }

  @include media-breakpoint-down(md) {
    &--textarea {
      padding-right: 14px;
    }
  }

  @include media-breakpoint-up(md) {
    line-height: 1.5;
    padding: 10px 20px;

    &--textarea {
      height: 175px;
    }
  }

  &--invalid {
    border-color: $color-error;
    box-shadow: inset 0 0 0 1px $color-error;
  }

  &--mail,
  &--phone {
    padding-right: 40px;
  }

  &--textarea {
    height: 150px;
    resize: vertical;
  }
}

.form__icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-45%);
  color: #222222;

  .form__control:hover + & {
    color: #222222;
  }

  .form__control:focus + & {
    color: $color-primary;
  }

  .form__control--invalid + & {
    color: $color-error;
  }

  @include media-breakpoint-up(md) {
    right: 14px;
  }

  @include media-breakpoint-up(lg) {
    right: 16px;
  }
}

.form__extra {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: -2px;
  }

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
    margin-top: -20px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 80px;
  }
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 35px;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    align-items: center;
    margin-top: 52px;
  }

  @include media-breakpoint-up(lg) {
    column-gap: 80px;
    margin-top: 60px;
  }
}

.form__button {
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 1.3;
    padding: 14px 28px;
  }
}

.form__note {
  font-family: $font-base;
  font-size: 16px;
  line-height: 1;
  color: $color-text-accent;
  text-transform: none;
  margin: 0;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 4px;
  }
}
