.form-checkbox {
  display: flex;
  align-items: center;
}

.form-checkbox__input {
  width: 30px;
  height: 30px;
  border: 1px solid $border-gray;
  background-color: $white;
  appearance: none;
  flex-shrink: 0;
  margin: 0;
  cursor: pointer;

  &:checked {
    background-image: url("../../images/icons/stack.svg#checkbox");
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-color: $border-gray;
  }

  &:hover {
    border-color: #bababa;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25em rgba($color-primary, 0.5);
  }

  &:disabled {
    border-color: #bababa;
    opacity: 0.3;

    + .form-checkbox__label {
      opacity: 0.3;
      cursor: default;
    }
  }

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
  }
}

.form-checkbox__label {
  padding-left: 15px;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    padding-left: 20px;
  }
}
