.get-program__subtitle {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-text-accent;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 30px;
  }
}
