.hero {
  font-family: $font-heading;
  color: $white;
  line-height: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background: url("../../images/hero/bg-mobile@1x.jpg") center top no-repeat #64a73d;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    color: $color-text-accent;
  }
}

.hero__container {
  padding-top: 27px;
  position: relative;
}

.hero__title {
  color: $white;
  margin-top: 0;
  margin-bottom: 25px;

  @include media-breakpoint-up(md) {
    color: $color-text-accent;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 29px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto 3px;
}

.hero__button {
  @include media-breakpoint-down(md) {
    display: block;
  }

  @include media-breakpoint-up(md) {
    padding: 14px 26px;
  }
}
