.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25em rgba($color-primary, 0.5);
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;

  @include media-breakpoint-up(md) {
    margin-right: 13px;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 14px;
  }
}

.logo__text {
  display: block;

  @include media-breakpoint-down(md) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include media-breakpoint-up(lg) {
    width: 118px;
    height: 21px;
  }
}
