.product-card {
  padding: 20px 20px 24px;
  border-top: 1px solid #d3d3d3;
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    background-color: $color-bg-base;
    border: none;
    padding: 0 37px 40px;
    flex-direction: column;
  }

  &:last-child {
    @include media-breakpoint-down(md) {
      border-bottom: 1px solid #d3d3d3;
    }
  }
}

.product-card--more {
  padding-top: 78px;
  position: relative;
  text-align: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  &::after {
    transform: translateX(-50%) rotate(-90deg);
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;
    border: 2px solid $color-bg-base;
    padding-top: 160px;

    &::before,
    &::after {
      width: 60px;
      top: 79px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 150px;
  }
}

.product-card__link {
  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25em rgba($color-primary, 0.5);
  }

  @include media-breakpoint-down(md) {
    width: 140px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  @include media-breakpoint-up(md) {
    align-self: center;
    margin-top: -70px;
    margin-bottom: 22px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 12px;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    width: calc(100% - 140px);
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
  }
}

.product-card__image {
  display: block;
  max-width: 100%;
}

.product-card__title {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 80px;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    color: #222222;
    text-decoration: none;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25em rgba(#222222, 0.3);
  }

  .product-card--more & {
    max-width: none;
  }

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    align-self: center;
    text-align: center;
    margin-bottom: 15px;

    .product-card--more & {
      max-width: 140px;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;

    .product-card--more & {
      margin-bottom: 24px;
    }
  }
}

.product-card__nutrition {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 0;

  td:nth-child(even) {
    text-align: right;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 20px;

    tr {
      border-bottom: 1px solid $border-gray;
    }

    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .product-card--more & {
      max-width: 170px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    tr:last-child td {
      padding-bottom: 10px;
    }
  }
}

.product-card__button {
  width: 100%;

  @include media-breakpoint-down(md) {
    margin-top: 17px;

    .product-card--more & {
      margin-top: 19px;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: auto;
  }
}
