.programs {
  padding-top: 20px;
  padding-bottom: 22px;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 82px;
    padding-bottom: 72px;
  }
}
