.programs-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-breakpoint-up(md) {
    gap: 30px;
  }

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 80px;
  }
}
