.program-item {
  background-color: $color-bg-base;
  padding: 30px 20px 18px;
}

.program-item__title {
  color: $color-text-accent;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  padding-left: 70px;

  &::before {
    content: "";
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--slim::after {
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    left: 7px;
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-pro");
    left: -9px;
  }

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}

.program-item__link {
  color: $color-text-accent;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;

  &::after {
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../../images/icons/stack.svg#arrow");
    background-position: right 8px center;
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    background-position: right center;
  }

  &:active {
    opacity: 0.3;
  }

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 30px;
  }
}
