.section-title {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 26px;
  color: $color-text-accent;
  text-transform: none;
  background-color: $white;
  position: relative;
  width: fit-content;
  box-shadow: -20px 0 0 $white, 20px 0 0 $white;

  &::before {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $color-primary;
    box-shadow: 100vw 0 0 $color-primary;
    position: absolute;
    top: 0.61em;
    right: 0;
    z-index: -1;
  }

  @include media-breakpoint-up(md) {
    font-size: 36px;
    line-height: 1;
    box-shadow: -40px 0 0 $white, 40px 0 0 $white;
  }
}
