.slider {
  position: relative;
  overflow: hidden;
  width: 280px;

  @include media-breakpoint-up(md) {
    width: 560px;
  }
}

.slider__slide {
  background-color: $example-gray;

  &--before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
  }

  &--after {
    position: relative;

    .slider__image {
      width: auto;
    }
  }

  @include media-breakpoint-up(md) {
    background-color: $white;

    &::before {
      content: "";
      width: 100%;
      height: 360px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $example-gray;
    }
  }

  @include media-breakpoint-up(lg) {
    &::before {
      height: 378px;
      background-color: $color-bg-base;
    }
  }
}

.slider__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
  position: relative;
}

.slider__button {
  width: 4px;
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 2px;
  background-color: $accent-grey;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  z-index: 2;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $accent-grey;
    border-radius: 50%;
    background: $white;
  }

  &::after {
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#slider-button");
    background-color: $accent-grey;
  }

  &:hover {
    background-color: $color-primary;

    &::before {
      border-color: $color-primary;
    }

    &::after {
      background-color: $color-primary;
    }
  }

  &:active {
    background-color: $color-primary-hover;
    opacity: 0.6;

    &::before {
      border-color: $color-primary;
    }

    &::after {
      background-color: $color-primary-hover;
    }
  }
}
