.slider {
  --slide-width: 50%;

  width: 280px;
  display: grid;
  grid-template-columns: var(--slide-width) calc(100% - var(--slide-width));
  position: relative;

  @include media-breakpoint-up(md) {
    width: 560px;
  }
}

.slider__slide {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;

  &--before {
    justify-content: flex-start;
  }

  &--after {
    justify-content: flex-end;
  }
}

.slider__image {
  display: block;
}

.slider__button {
  width: 4px;
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 2px;
  background-color: $accent-grey;
  color: $accent-grey;
  position: absolute;
  top: 0;
  left: var(--slide-width);
  margin-left: -2px;
  z-index: 2;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $accent-grey;
    border-radius: 50%;
    background: $white;
  }

  &::after {
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#slider-button");
    background-color: $accent-grey;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-primary;

    &::before {
      border-color: $color-primary;
    }

    &::after {
      background-color: $color-primary;
    }
  }

  &:active {
    background-color: $color-primary-hover;
    opacity: 0.6;

    &::before {
      border-color: $color-primary;
    }

    &::after {
      background-color: $color-primary-hover;
    }
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25em color-mix(in sRGB, currentColor 50%, transparent);

    &::before {
      box-shadow: 0 0 0 0.25em color-mix(in sRGB, currentColor 50%, transparent);
    }
  }
}
