.special-offer {
  background-image:
    image-set(
      url("../../images/special-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/special-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/special-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/special-mobile@2x.jpg") type("image/jpg") 2x
    );
  background-position: center;
  background-size: cover;
  background-color: $color-primary;
  color: $white;
  position: relative;
  padding: 186px 58px 44px;
  text-align: center;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#gift");
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include media-breakpoint-up(md) {
    padding: 70px 20px 70px 420px;
    background-image:
      image-set(
        url("../../images/special-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/special-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/special-tablet@1x.jpg") type("image/jpg") 1x,
        url("../../images/special-tablet@2x.jpg") type("image/jpg") 2x
      );

    &::before {
      width: 80px;
      height: 83px;
      top: 57px;
      left: 77px;
      transform: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 56px 42px 42px 42px;
    display: flex;
    flex-direction: column;
    row-gap: 46px;
    justify-content: center;
    align-items: center;
    background-image:
      image-set(
        url("../../images/special-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/special-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/special-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/special-desktop@2x.jpg") type("image/jpg") 2x
      );

    &::before {
      position: relative;
      left: auto;
      top: auto;
    }
  }
}

.special-offer__text {
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  @include media-breakpoint-up(lg) {
    text-align: center;
  }
}
