.stats-list__value {
  font-family: $font-heading;
  color: $color-text-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats-list__caption {
  font-size: 12px;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
}
